* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "dejavu-sans", sans-serif;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1180px;
    margin: auto;
    padding: 0 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}